# pypi libraries
beautifulsoup4
bgapi
click
click-shell
cloudsmith-api
cloudsmith-cli
coverage
image
matplotlib==3.3.4
numpy
pydantic
pyenchant
pylint
pymsteams
pyserial
sphinx
sphinx-rtd-theme
sphinxcontrib-fulltoc
termcolor
terminaltables
treepoem
pyusb
PyAutoGUI
PyYAML
Pillow
requests
websocket_client
wget

